<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,100i,200,200i,300,300i,400,400i,500,500i,600,600i,700,700i,800,800i,900,900i&display=swap" rel="stylesheet">
    <title>YOTECHWALA - Web Development Company India</title>
<!--

TemplateMo 548 Training Studio

https://templatemo.com/tm-548-training-studio

-->
    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/assets/css/templatemo-training-studio.css">
<!-- 
    favicon -->
    <link rel="apple-touch-icon" sizes="180x180" href="/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/favicon-16x16.png">
    <link rel="manifest" href="/site.webmanifest">
    </head>
    
    <body>
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="/" class="logo">Yo<em>TechWala</em></a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="#top" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="#services">Services</a></li>
                            <li class="scroll-to-section"><a href="#portfolio">Memory Book</a></li>
                            <li class="scroll-to-section"><a href="#clients">Clients</a></li>
                            <li class="main-button scroll-to-section1"><a href="#contact-us">Let's Have Coffee! </a></li>
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->

    <!-- ***** Main Banner Area Start ***** -->
    <div class="main-banner" id="top">
        <video autoplay playsinline muted loop id="bg-video">
            <source src="/assets/images/Untitled.mp4" type="video/mp4"/>
        </video>

        <div class="video-overlay header-text">
            <div class="caption">
                <h6>Innovation, Achieved</h6>
                <h2>easy with <em>Us</em></h2>
                <div class="main-button scroll-to-section">
                    <a href="#services">Know more</a>
                </div>
            </div>
        </div>
    </div>
    <!-- ***** Main Banner Area End ***** -->

    <!-- ***** services Item Start ***** -->
    <section class="section" id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2 class="loader-logo">What can we do for <em>you?</em></h2>
                        <img src="/assets/images/line-dec.png" alt="waves">
                        <p class="scroll-to-section1">Yotechwala is one of the most preferred web development company in India. We're based in Delhi NCR with clients majorly from Gurugram, Noida and NCR itself. We offer services in Mongodb, SQL, Node JS, Express, Angular, React, Django, PHP and much more, with a client retention of 90% and a long-term support policy. <a href="#contact-us">Try risk free</a> with a 3-day trial.</p> 
                    </div>
                </div>
                <div class="col-lg-6">
                    <ul class="services-items">
                        <li class="feature-item service-card">
                            <div class="left-icon">
                                <img src="/assets/images/technology.png" class="image-services" alt="">
                            </div>
                            <div class="right-content">
                                <h4>Custom Web App Development</h4>
                                <p>We provide solutions based on your needs and dependencies with cutting edge technologies, making your web development stack suit YOU!</p>
                            </div>
                        </li>
                        <li class="feature-item service-card">
                            <div class="left-icon">
                                <img src="/assets/images/maintenance.png" class="image-services" alt="">
                            </div>
                            <div class="right-content">
                                <h4>Maintenance & Management</h4>
                                <p>We provide assistance for you application to stay relevant in an ever changing and ever growing market.</p>
                            </div>
                        </li>
                        <li class="feature-item service-card">
                            <div class="left-icon">
                                <img src="/assets/images/shopping-online.png" class="image-services" alt="">
                            </div>
                            <div class="right-content">
                                <h4>Ecommerce Development</h4>
                                <p>We provide dynamic ecommerce development ranging from marketplaces, auction sites, affiliate sites with multiple levels, payment solutions and more.</p>
                            </div>
                        </li>
                    </ul>
                </div>
                <div class="col-lg-6">
                    <ul class="services-items">
                        <li class="feature-item service-card">
                            <div class="left-icon">
                                <img src="/assets/images/server.png" class="image-services" alt="">
                            </div>
                            <div class="right-content">
                                <h4>Database and Server Handling</h4>
                                <p>We provide efficient solutions for data storage and handling in your application to increase efficiency and reduce loading times.</p>
                            </div>
                        </li>
                        <li class="feature-item service-card">
                            <div class="left-icon">
                                <img src="/assets/images/brainstorm.png" class="image-services" alt="">
                            </div>
                            <div class="right-content">
                                <h4>On Demand Teams</h4>
                                <p class="scroll-to-section1">We provide efficient and qualified teams on demand for most web and mobile stacks. <a href="#contact-us">Check in with us</a> to know if you stack is available with us at the moment.</p>
                            </div>
                        </li>
                        <li class="feature-item service-card">
                            <div class="left-icon">
                                <img src="/assets/images/data.png" class="image-services" alt="">
                            </div>
                            <div class="right-content">
                                <h4>Modernization & Migration Services</h4>
                                <p>Get your old applications migrated to new technologies to stay up to date and reap the benefits.</p>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="container">
            <div class="row" style="text-align: center; font-size: xx-large;">
                <div class="col-lg-4 d-none d-lg-block d-xl-block counter-text">
                    <h2 onmouseenter="counter()"><span class="count">100</span>+ <br> Projects</h2>
                    </script>
                </div>
                <div class="col-lg-4 d-none d-lg-block d-xl-block counter-text">
                    <h2 onmouseenter="counter()"><span class="count1">50</span>+ <br>Fulltime Developers</h2>
                </div>
                <div class="col-lg-4 d-none d-lg-block d-xl-block counter-text">
                    <h2 onmouseenter="counter()"><span class="count2">10000</span>+ <br> lINES OF CODE</h2>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** services Item End ***** -->

    <!-- ***** Our Classes Start ***** -->
    <section class="section" id="portfolio">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2 class="loader-logo">Past <em>Work</em></h2>
                        <img src="/assets/images/line-dec.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row" id="tabs">
              <div class="col-lg-4">
                <ul>
                  <li class="heading-portfolio"><a href='#tabs-1'>Bizquesta</a></li>
                  <li class="heading-portfolio"><a href='#tabs-2'>FactForMe</a></a></li>
                  <li class="heading-portfolio"><a href='#tabs-3'>Uneverso Stores</a></a></li>
                  <li class="heading-portfolio"><a href='#tabs-4'>Tailorzx</a></a></li> 
                </ul>
              </div>
              <div class="col-lg-8">
                <section class='tabs-content'>
                  <article id='tabs-3'>
                    <img src="/assets/images/uneverso-main.jpeg" alt="Uneverso">
                    <h4>Uneverso Stores</h4>
                    <p>We’ve developed multiple e-commerce sites over the years such as Uneverso Stores, ClothWala etc. During this duration, we’ve become proficient in the design and development, and our team and stacks keep evolving with the ever-evolving, rapidly growing nature of e-commerce.</p>
                    <div class="main-button">
                        <!-- <a href="/uneverso">View Screenshots</a> -->
                    </div>
                </article>
                  <article id='tabs-2'>
                    <img src="/assets/images/factforme.png" alt="factforme">
                    <h4>FactForMe</h4>
                    <p>We live in a world of facts, there are some facts and truths about every entity in this world. With factforme, you can find facts about YOU! All this needs is your name and your date of birth. This website uses the MERN Stack i.e Mongodb, Express, React and Node JS.</p>
                    <div class="main-button">
                        <!-- <a href="/factforme">View Screenshots</a> -->
                    </div>
                </article>
                  <article id='tabs-1'>
                    <img src="/assets/images/bizquesta-main.png" alt="Bizquesta">
                    <h4>Bizquesta</h4>
                    <p>As we know, upto 80% of brands run affiliate programs, devoting over 10% of their marketing budgets to affiliate marketing. With so many affiliate programs in the market we provide best in class websites for you to stand out and make your site look distinguishable. With sites like bizquesta and shinequest, we’ve developed over 4 levels of affiliate considering the main and passive income values for affiliate users and marketers.</p>
                    <div class="main-button">
                        <!-- <a href="/bizquesta">View Screenshots</a> -->
                    </div>
                </article>
                  <article id='tabs-4'>
                    <img src="/assets/images/tailorzx-main.png" alt="Tailorzx">
                    <h4>Tailorzx</h4>
                    <p>The e-commerce and online auction space is a $739.2 billion dollar industry. Online auctions or bidding sites are a great place to find deals, sell your stuff, get cheaper options or even secure a family vacation. With websites like tailorzx, setstream, we’ve found auction solution for auction of clothes to graphic cards. Making us proficient in development of your ecommerce or auction site.</p>
                    <div class="main-button">
                        <!-- <a href="/tailorzx">View Screenshots</a> -->
                    </div>
                </article>
                </section>
              </div>
            </div>
        </div>
    </section>

    
    <!-- Trigger/Open The Modal
    <button id="myBtn">Open Modal</button> -->

    <!-- The Modal -->
    <!-- <div id="myModal" class="modal"> -->

        <!-- Modal content -->
        <!-- <div class="modal-content">
            <span class="close">&times;</span>
            <p>Some text in the Modal..</p>
        </div>

    </div> -->
    <script>
        // // Get the modal
        // var modal = document.getElementById("myModal");

        // // Get the button that opens the modal
        // var btn = document.getElementById("myBtn");

        // // Get the <span> element that closes the modal
        // var span = document.getElementsByClassName("close")[0];

        // // When the user clicks the button, open the modal 
        // btn.onclick = function () {
        //     modal.style.display = "block";
        // }
        // var opened = false;
      
        // setInterval(function(){           
        //     if(opened == false){    
        //         btn.click();
        //         opened = true;
                    
        //     }
        // }, 10000)
        

        // // When the user clicks on <span> (x), close the modal
        // span.onclick = function () {
        //     modal.style.display = "none";
        // }

        // // When the user clicks anywhere outside of the modal, close it
        // window.onclick = function (event) {
        //     if (event.target == modal) {
        //         modal.style.display = "none";
        //     }
        // }
    </script>


    <!-- ***** Call to Action Start ***** -->
    <section class="section" id="call-to-action">
        <div class="container">
            <div class="row">
                <div class="col-lg-10 offset-lg-1">
                    <div class="cta-content">
                        <h2 class="loader-logo">Let's go on a <em>trip</em>!</h2>
                        <p>At YOTECHWALA, we've got you covered with the best in class solutions for your specific problems regarding Web development and Application development.</p>
                        <div class="main-button scroll-to-section">
                            <a href="#contact-us">Contact us</a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Call to Action End ***** -->
    
    <!-- ***** Testimonials Starts ***** -->
    <section class="section" id="clients">
        <div class="container">
            <div class="row">
                <div class="col-lg-6 offset-lg-3">
                    <div class="section-heading">
                        <h2 class="loader-logo">Testimonials about<em> Us</em></h2>
                        <img src="/assets/images/line-dec.png" alt="">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="down-content">
                            <h4>Harsh Tyagi</h4>
                            <p>Yotechwala is the Best Web Development Company in New Delhi. They were prompt with their work and responded to every query.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="down-content">
                            <h4>Abhinav Tripathi</h4>
                            <p>Excellent Work Done by them at well suited prices. They also got us emails with domain name ending with our company name.</p>
                        </div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="trainer-item">
                        <div class="down-content">
                            <h4>Rehan Khan</h4>
                            <p>They helped me convert my imagination of the app into reality at very affordable prices. Highly recommended.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Testimonials Ends ***** -->
    
    <!-- ***** Contact Us Area Starts ***** -->
    <section class="section" id="contact-us">
        <div class="col-lg-6 offset-lg-3">
            <div class="section-heading">
                <h2 class="loader-logo">Contact<em> Us</em></h2>
                <img src="/assets/images/line-dec.png" alt="">
                <p>We can't wait to be a part of your journey! Neither should you!</p>
            </div>
        </div>
        <div class="container-fluid">
            <div class="row">
                <!-- <div class="col-lg-6 col-md-6 col-xs-12">
                    <div id="map">
                      <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d448183.73908065975!2d76.81307179071018!3d28.646677257441542!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x390cfd5b347eb62d%3A0x37205b715389640!2sDelhi!5e0!3m2!1sen!2sin!4v1661025609771!5m2!1sen!2sin" width="100%" height="600px" frameborder="0" style="border:0" allowfullscreen></iframe>
                    </div>
                </div> -->
                <div class="col-lg-8 col-md-8 col-xs-12" style="display: block;
                margin-left: auto;
                margin-right: auto;">
                    <div class="contact-form">
                        <form id="contact" action="/contact" method="post" onsubmit="alertfunc()">
                          <div class="row">
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="name" type="text" id="name" placeholder="Your Name*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-6 col-sm-12">
                              <fieldset>
                                <input name="email" type="text" id="email" pattern="[^ @]*@[^ @]*" placeholder="Your Email*" required="">
                              </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                                <fieldset>
                                  <input name="phone" type="text" id="phone" placeholder="Your Phone*" required="">
                                </fieldset>
                            </div>
                            <div class="col-md-12 col-sm-12">
                              <fieldset>
                                <input name="subject" type="text" id="subject" placeholder="Subject">
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <textarea name="message" rows="6" id="message" placeholder="Message" required=""></textarea>
                              </fieldset>
                            </div>
                            <div class="col-lg-12">
                              <fieldset>
                                <button type="submit" id="form-submit" class="main-button">Send Message</button>
                              </fieldset>
                            </div>
                          </div>
                        </form>

                        <script>    
                            function alertfunc(){
                                alert("Thanks for contacting us! We'll get back to you soon...");
                            }
                        </script>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- ***** Contact Us Area Ends ***** -->
    
    <!-- ***** Footer Start ***** -->
    <footer>
        <div class="container">
            <div class="row">
                <div class="col-lg-12">
                    <p>Copyright &copy; 2023 Yotechwala
                    
                    - Developed by @yotechwala</a></p>
                    
                </div>
            </div>
        </div>
    </footer>

    <!-- jQuery -->
    <script src="/assets/js/jquery-2.1.0.min.js"></script>


    <!-- Bootstrap -->
    <script src="/assets/js/popper.js"></script>
    <script src="/assets/js/bootstrap.min.js"></script>

    <!-- Plugins -->
    <script src="/assets/js/scrollreveal.min.js"></script>
    <script src="/assets/js/waypoints.min.js"></script>
    <script src="/assets/js/jquery.counterup.min.js"></script>
    <script src="/assets/js/imgfix.min.js"></script> 
    <script src="/assets/js/mixitup.js"></script> 
    <script src="/assets/js/accordions.js"></script>
    
    <!-- Global Init -->
    <script src="/assets/js/custom.js"></script>


  </body>
</html>
